.footer {
  background-color: $color-secondary;
  grid-column: full-start/ -1;

  padding: 8rem;
  .nav {
    list-style: none;
    margin-bottom: 8rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    font-size: 1.4rem;
    &__item {
      padding: 1.2rem 2.5rem;
      text-align: center;
      cursor: pointer;
      transition: transform .2s;

      &:hover {
        background-color: rgba(#fff, .05);
        transform: translateY(-.75rem);
        
      }
    }

    &__link {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
    }
  }

  .copyright {
    font-size: 1.4rem;
    text-align: center;
    color: #aaa;
  }
  
  @media only screen and (max-width: $bp-small){
    padding: 2rem;
  }
}
