%heading {
  font-family: $font-display;
  font-weight: 4oo;
}

.heading {
  
  &-light{
    color: $color-grey-light-1;
  }
  &-1,
  &-2,
  &-3,
  &-4 {
    @extend %heading;
  }
}

.heading-1 {
  font-size: 4.5rem;
  color: $color-grey-light-1;
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
  
  &--light{color: $color-grey-light-1;}
  &--dark{color: $color-grey-dark-1;}
}

.heading-3 {
  font-size: 1.6rem;
  color: $color-primary;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 1.9rem;
  font-weight: 400;
  
  &--light{color: $color-grey-light-1;}
  &--dark{color: $color-grey-dark-1;}
}

.btn{
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: $font-display;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  
  &:hover{
    background-color: $color-primary-dark;
    transition: all .2s;
  }
}

.mb-sm{  margin-bottom: 2rem;}
.mb-md{  margin-bottom: 3rem;}
.mb-lg{  margin-bottom: 4rem;}
.mb-xl{  margin-bottom: 5rem;}